flask
flask-sqlalchemy
flask-migrate
flask-jwt-extended
psycopg2-binary
python-dotenv
argon2-cffi
gunicorn
flask-cors
minio
redis
pymupdf
redis
sqlalchemy
psycopg2-binary
minio
python-dotenv
scikit-learn
flask-socketio
eventlet